* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  background-color: #e2ebf2;
  overflow-y: scroll;
}

object {
  pointer-events: none;
}

.not-found {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: Kumbh Sans;
  text-align: center;
}

.main-container {
  width: 100%;
  height: auto;

  position: relative;
}

.img-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
}

.title-bar-container {
  position: absolute;
  top: 50px;
  width: 70vw;
  max-width: 1110px;
  height: auto;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.img-switcher {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: trasparent;
}

.search-bar-container {
  position: absolute;
  width: 70vw;
  max-width: 1110px;
  height: 80px;
  top: 120px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 6px;
  background: #fff;
  z-index: 1;
  padding-left: 32px;
  padding-right: 16px;

  display: grid;
  grid-template-columns: 1.2fr 0.8fr 330px;
}

.serach-container,
.location-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  height: 100%;
  border-right-style: solid;
  border-right-color: rgba(110, 128, 152, 0.2);
  border-right-width: 1px;

  padding: 0;
}

.location-container {
  margin-left: 23px;

  position: relative;
}

.list-cities-container {
  position: absolute;
  top: 80px;
  left: 0;
  background-color: rgb(122, 108, 249);
  width: 320px;
  height: auto;
  max-height: 200px;
  border-bottom-left-radius: 20px;
  list-style-type: none;
  overflow-x: auto;
  margin: 0;

  padding-top: 15px;
  padding-bottom: 10px;
}

.city-element {
  color: white;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: trasparent;
  padding-left: 20px;
  padding-right: 10px;
}

.serach-input,
.location-input {
  width: 100%;
  height: 100%;
  color: #19202d80;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  border: none;

  cursor: pointer;
  -webkit-tap-highlight-color: trasparent;
}

.serach-input::placeholder,
.location-input::placeholder {
  color: rgb(157, 157, 157);
  font-family: Kumbh Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.check {
  width: 24px;
  height: 24px;
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: trasparent;
}

.filter {
  color: #19202d;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 15px;
}

.btn-search {
  color: #fff;
  text-align: center;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-left: 23px;

  border-radius: 5px;
  background-color: #5964e0;
  width: 123px;
  height: 48px;

  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: trasparent;
  transition: background-color 0.25s;
}

.job-main-container {
  position: absolute;
  width: 70vw;
  max-width: 1110px;
  height: auto;
  top: 280px;
  left: 50%;
  transform: translate(-50%);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

.container-job {
  min-height: 228px;
  height: auto;
  padding-left: 32px;
  background-color: #fff;
  border-radius: 6px;
  padding-bottom: 20px;
  padding-right: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: box-shadow 0.25s;
  margin-bottom: 65px;
}

.main-info {
  margin-top: 49px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.top-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 12px;
}

.years {
  color: #6e8098;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.point {
  font-size: 40px;
  color: rgb(129, 149, 175);
  line-height: 3px;
}

.full-time {
  color: rgb(129, 149, 175);
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.job {
  color: #19202d;
  font-family: Kumbh Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.company {
  color: rgb(129, 149, 175);
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.country {
  margin-top: 40px;
  color: #5964e0;
  font-family: Kumbh Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.img-logo {
  position: absolute;
  top: -25px;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  object-fit: contain;
  padding: 4px;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.img-logo2 {
  position: absolute;
  top: -25px;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(255, 217, 0);
}

.container-byn-load-more {
  grid-column: 1/4;

  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more {
  width: 141px;
  height: 48px;
  border-radius: 5px;
  background: #5964e0;
  color: #fff;
  text-align: center;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -10px;
  border: none;
  margin-bottom: 100px;

  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.25s;
}

/* //////////////// SECOND PAGE ////////////////// */

.contauner-job-description {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%);

  width: 50vw;
  height: auto;
  max-width: 730px;

  background: transparent;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header-job-description {
  width: 100%;
  height: auto;
  border-radius: 6px;
  background-color: white;
  padding-right: 43px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-job-description-left {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: left;
  align-items: center;
}

.btn-company-site {
  border-radius: 5px;
  width: 117px;
  height: 48px;
  border: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  cursor: pointer;
  margin-left: 20px;
  flex-shrink: 0;

  color: #5964e0;

  text-align: center;
  font-family: Kumbh Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: background-color 0.25s;
}

.box-img-logo-company {
  width: 140px;
  height: 140px;
  border-bottom-left-radius: 6px;
  background-color: yellow;

  display: flex;
  align-items: center;
  justify-content: center;
}

.img-logo-company {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.job-name-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.name-comp {
  color: #19202d;
  font-family: Kumbh Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.site-comp {
  color: #6e8098;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-wrap: wrap;
}

.main-container-information {
  padding: 48px;
  width: 100%;
  height: auto;
  border-radius: 6px;
  background: #fff;
}

.header-job-descripton {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
}

.a {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 12px;
  margin-right: 10px;
}

.b {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 12px;
}

.b1,
.b3 {
  color: #6e8098;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.b2 {
  color: #6e8098;
  font-family: Kumbh Sans;
  font-size: 40px;
  font-style: normal;
  line-height: 3px;
}

.a2 {
  color: #19202d;
  font-family: Kumbh Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 8px;
}

.a3 {
  color: #5964e0;
  font-family: Kumbh Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-applay {
  width: 141px;
  height: 48px;
  border-radius: 5px;
  background: #5964e0;
  color: #fff;
  text-align: center;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  -webkit-tap-highlight-color: trasparent;
  outline: none;
  cursor: pointer;
  transition: background-color 0.25s;
}

.job-desc-info {
  color: #6e8098;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 40px;
}

.requirements {
  color: #19202d;
  font-family: Kumbh Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 28px;
}

.requirements-description {
  color: #6e8098;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}

ul {
  color: #6e8098;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-left: 15px;
  margin-bottom: 48px;
}

li {
  margin-bottom: 8px;
}

.task-job {
  color: #19202d;
  font-family: Kumbh Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 28px;
}

.willDo-description {
  color: #6e8098;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}

ol {
  color: #6e8098;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-left: 15px;
  margin-bottom: 48px;
}

.footer-container {
  width: 100%;
  background-color: #fff;
  height: 96px;
  padding: 25px;
  margin-bottom: 150px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.c {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 12px;
}

.c1 {
  color: #19202d;
  font-family: Kumbh Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.c2 {
  color: #6e8098;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1250px) {
  .job-main-container {
    width: 80vw;
  }

  .search-bar-container {
    width: 80vw;
  }

  .not-found {
    width: 70vw;
  }

  .title-bar-container {
    width: 80vw;
  }

  .job {
    font-size: 18px;
  }

  /* //////////////// SECOND PAGE ////////////////// */

  .contauner-job-description {
    width: 60vw;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1100px) {
  .job-main-container {
    width: 87vw;
  }

  .search-bar-container {
    width: 87vw;
  }

  .not-found {
    width: 75vw;
  }

  .title-bar-container {
    width: 87vw;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1000px) {
  .job-main-container {
    width: 84vw;
    grid-template-columns: 1fr 1fr;
  }

  .container-byn-load-more {
    grid-column: 1/3;
  }

  .search-bar-container {
    width: 84vw;
    grid-template-columns: 1fr 210px;
  }

  .title-bar-container {
    width: 84vw;
  }

  .container-icon-filter {
    margin-right: 15px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .overlay-choices {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .container-filter-choices {
    width: 60vw;
    height: auto;
    border-radius: 6px;
    background: #fff;

    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    z-index: 6;

    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;
    background-color: rgba(250, 241, 111, 1);
  }

  .location-container-choices {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(110, 128, 152, 0.2);
    padding-bottom: 20px;
  }

  .location-input-choices {
    background-color: rgba(250, 241, 111, 1);
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .list-cities-container-choices {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgb(122, 108, 249);
    width: 90%;
    height: auto;
    max-height: 200px;
    border-bottom-left-radius: 20px;
    list-style-type: none;
    overflow-x: auto;
    margin: 0;

    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 30px;
  }

  .city-element {
    color: white;
    font-family: Kumbh Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: trasparent;
    padding-left: 20px;
    padding-right: 10px;
  }

  .full-time-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 15px;
  }

  .btn-search-cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .btn-search2 {
    color: #fff;
    text-align: center;
    font-family: Kumbh Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;

    border-radius: 5px;
    background: #5964e0;
    width: 100%;
    height: 48px;

    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: trasparent;
    transition: background-color 0.25s;
  }

  /* //////////////// SECOND PAGE ////////////////// */

  .contauner-job-description {
    width: 70vw;
  }

  .a2 {
    font-size: 23px;
    line-height: 28px;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 750px) {
  .search-bar-container {
    grid-template-columns: 1fr 190px;
  }

  .not-found {
    width: 70vw;
  }

  .container-icon-filter {
    padding-left: 20px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .container-job {
    padding-left: 15px;
    padding-right: 15px;
  }

  .job {
    font-size: 17px;
  }

  .container-filter-choices {
    width: 80vw;
  }

  /* //////////////// SECOND PAGE ////////////////// */

  .contauner-job-description {
    width: 90vw;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .job-main-container {
    width: 90vw;
    grid-template-columns: 1fr;
  }

  .not-found {
    width: 70vw;
    grid-column: 1/2;
  }

  .container-byn-load-more {
    grid-column: 1/2;
  }

  .search-bar-container {
    width: 90vw;
    padding-left: 15px;
    padding-right: 10px;

    grid-template-columns: 1fr 90px;
  }

  .serach-container,
  .location-container {
    border: none;
  }

  .serach-container {
    gap: 10px;
  }

  .img-search {
    width: 20px;
    height: 20px;
  }

  .img-switcher {
    width: 90px;
  }

  .title-bar-container {
    width: 90vw;
  }

  .container-icon-filter {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .logo-filter {
    width: 17px;
    height: 17px;
    object-fit: cover;
  }

  .img-srch {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  .container-job {
    padding-left: 15px;
    padding-right: 15px;
  }

  .job {
    font-size: 18px;
  }

  .btn-search {
    margin-left: 20px;
    width: 48px;
    height: 48px;
  }

  .container-filter-choices {
    width: 90vw;
  }

  /* //////////////// SECOND PAGE ////////////////// */

  .main-container-information {
    padding: 15px;
    padding-top: 30px;
  }

  .a {
    width: 100%;
  }

  .contauner-job-description {
    top: 140px;
  }

  .header-job-description {
    height: auto;
    padding-right: 0px;
    padding-top: 49px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
  }

  .header-job-descripton {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 54px;
  }

  .btn-applay {
    width: 200px;
  }

  .header-job-description-left {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
  }

  .box-img-logo-company {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background-color: yellow;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .img-logo-company {
    border-radius: 15px;
  }

  .footer-container {
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 400px) {
  .contauner-job-description {
    width: 95vw;
  }

  .not-found {
    width: 60vw;
    font-size: 30px;
  }
}

@media (max-width: 360px) {
  .list-cities-container-choices {
    width: 95%;
    margin-left: 10px;
  }
}
